<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="ur5e" >

  <!-- common stuff -->
  <xacro:include filename="$(find ur_e_description)/urdf/common.gazebo.xacro" />

  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5e_robot prefix="" joint_limited="true"/>

  <!-- ft_300 -->
  <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />

  <!-- robotiq_85 -->
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />

  <!-- vention frame -->
  <xacro:include filename="$(find vention_frame)/urdf/vention_frame.urdf.xacro" />



  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!-- ft300 -->

  <xacro:robotiq_ft300 parent="tool0" prefix="">
      <origin xyz="0 0 0 " rpy="0 0 0"/>
  </xacro:robotiq_ft300>

  <!-- robotiq_85 -->

  <xacro:robotiq_85_gripper parent="robotiq_ft_frame_id" prefix="">
      <origin xyz="0 0 0 " rpy="0 ${-pi/2} 0"/>
  </xacro:robotiq_85_gripper>

  <!-- vention frame -->

  <xacro:vention_frame parent="base_link" prefix="">
      <origin xyz="0 0 0 " rpy="0 0 0"/>
  </xacro:vention_frame>


</robot>
