<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur5e" >



  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5e_robot prefix="" joint_limited="true"/>


  <xacro:macro name="ur5e_mounting" params="parent prefix *origin">

      <!-- mount the fts to the robot -->
      <joint name="${prefix}ur5e_mounting_fix" type="fixed">
          <xacro:insert_block name="origin" />
          <parent link="${parent}" />
          <child link="${prefix}base_link" />
      </joint>
  </xacro:macro>

</robot>
