<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro"
       name="mir_100" >

  <!-- MiR100 base -->
  <xacro:include filename="$(find mir_description)/urdf/include/mir_100_v1.urdf.xacro" />
  <xacro:include filename="$(find mir_description)/urdf/include/common.gazebo.xacro" />
  
  <xacro:arg name="tf_prefix" default="" />
  <xacro:property name="tf_prefix_" value="$(arg tf_prefix)" />

  <xacro:if value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="" />
  </xacro:if>
  <xacro:unless value="${tf_prefix_ == ''}">
    <xacro:property name="prefix" value="${tf_prefix_}/" />
  </xacro:unless>

  <xacro:mir_100 prefix="${prefix}"/>
  <xacro:controller_plugin_gazebo robot_namespace=""/>

  <!-- instead of the controller_plugin_gazebo, you can use the diffdrive controller like this:
    <xacro:diff_controller_plugin_gazebo prefix=""
      left_wheel_joint="left_wheel_joint"
      right_wheel_joint="right_wheel_joint"
      wheel_separation="${2*mir_100_act_wheel_dy}"
      wheel_radius="${mir_100_act_wheel_radius}"/>
  -->

  <!-- vention frame -->
  <xacro:include filename="$(find vention_frame)/urdf/vention_frame.urdf.xacro" />

  <!-- vention frame -->
  <xacro:vention_frame parent="${tf_prefix_}/base_footprint" prefix="">
      <origin xyz="0.04 0 0.352 " rpy="0 0 0"/>
  </xacro:vention_frame>


  <!-- ur5e -->
  <xacro:include filename="$(find ur_e_description)/urdf/ur5e_robot.urdf.xacro" />

  <!-- ur5e -->
  <xacro:ur5e_mounting parent="ur5e_mounting_link" prefix="">
      <origin xyz="0.00 0 0.0 " rpy="0 0 0"/>
  </xacro:ur5e_mounting>


  <!-- ft_300 -->
  <xacro:include filename="$(find robotiq_ft_sensor)/urdf/robotiq_ft300.urdf.xacro" />

  <xacro:robotiq_ft300 parent="tool0" prefix="">
      <origin xyz="0 0 0 " rpy="0 0 0"/>
  </xacro:robotiq_ft300>


  <!-- robotiq_85 -->
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />

  <xacro:robotiq_85_gripper parent="robotiq_ft_frame_id" prefix="">
      <origin xyz="0 0 0 " rpy="0 ${-pi/2} 0"/>s
  </xacro:robotiq_85_gripper>

  <!-- azure camera -->
  <xacro:include filename="$(find azure_kinect_ros_driver)/urdf/azure_kinect.urdf.xacro" />

  <xacro:azure_kinect  parent="ee_link" prefix="">
        <origin xyz="0.0 0.0 0.07" rpy="0 0 0" />
  </xacro:azure_kinect>
  


</robot>