<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="vention_frame">


    <xacro:macro name="vention_frame" params="parent prefix *origin">

        <!-- mount the fts to the robot -->
        <joint name="${prefix}vention_frame_fix" type="fixed">
            <xacro:insert_block name="origin" />
            <parent link="${parent}" />
            <child link="${prefix}mir_mounting_link" />
        </joint>

        <link
            name="${prefix}ur5e_mounting_link">
            <inertial>
            <origin
                xyz="-0.2806 -0.00045451 -0.24143"
                rpy="0 0 0" />
            <mass
                value="10.365" />
            <inertia
                ixx="0.081835"
                ixy="2.5868E-05"
                ixz="-2.1017E-05"
                iyy="0.17523"
                iyz="6.3406E-06"
                izz="0.19702" />
            </inertial>   
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://vention_frame/meshes/ur5e_mounting_link.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.79216 0.81961 0.93333 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://vention_frame/meshes/ur5e_mounting_link.STL" />
            </geometry>
            </collision>
        </link>


        <link
            name="${prefix}vention_frame_link">

            <inertial>
            <origin
                xyz="-0.010601 -0.00045451 0.36607"
                rpy="0 0 0" />
            <mass
                value="10.365" />
            <inertia
                ixx="0.081835"
                ixy="2.5868E-05"
                ixz="-2.1017E-05"
                iyy="0.17523"
                iyz="6.3406E-06"
                izz="0.19702" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://vention_frame/meshes/vention_frame_link.STL" />
            </geometry>
            <material
                name="">
                <color
                rgba="0.33725 0.52941 0.75686 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://vention_frame/meshes/vention_frame_link.STL" />
            </geometry>
            </collision>
        </link>


        <joint
            name="${prefix}ur5e_mounting_joint" type="fixed">
            <origin
            xyz="0.27 0 0.6075"
            rpy="0 0 0" />
            <child
            link="${prefix}ur5e_mounting_link" />
            <parent
            link="${prefix}vention_frame_link" />
            <axis
            xyz="0 0 0" />
        </joint>


        <joint name="${prefix}mir_mounting_joint" type="fixed">
            <origin xyz="0 0 0" rpy="0 0 0" />
            <child link="${prefix}vention_frame_link" />
            <parent link="${prefix}mir_mounting_link" />
        </joint>

        <link name="${prefix}mir_mounting_link"/>
    </xacro:macro>
</robot>