<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->


<robot xmlns:xacro="http://ros.org/wiki/xacro" name="workbench">

    <xacro:macro name="workbench" params="parent prefix *origin">

        <!-- mount the workbench to the robot -->
        <joint name="${prefix}workbench_fix" type="fixed">
        <xacro:insert_block name="origin" />
        <parent link="${parent}" />
        <child link="${prefix}workbench_link" />
        </joint>

        <link
            name="workbench_link">
            <inertial>
            <origin
                xyz="0.42892 0.020265 -0.31198"
                rpy="0 0 0" />
            <mass
                value="53.725" />
            <inertia
                ixx="2.969"
                ixy="1.6142E-06"
                ixz="-0.00010958"
                iyy="1.6706"
                iyz="-2.7677E-06"
                izz="3.987" />
            </inertial>
            <visual>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://workbench/meshes/workbench_link.STL" />
            </geometry>
            <material
                name="blue">
                <color
                rgba="0.33725 0.52941 0.75686 1" />
            </material>
            </visual>
            <collision>
            <origin
                xyz="0 0 0"
                rpy="0 0 0" />
            <geometry>
                <mesh
                filename="package://workbench/meshes/workbench_link.STL" />
            </geometry>
            </collision>
        </link>


        <joint name="${prefix}mounting_joint" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="${prefix}workbench_link" />
        <child link="${prefix}mounting_link" />
        </joint>

        <link name="${prefix}mounting_link"/>

    </xacro:macro>
</robot>