<?xml version="1.0"?>

<model>
  <name>workbench</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Jiaxu Niu</name>
    <email>jniu352@aucklanduni.ac.nz</email>
  </author>

  <description>
    A model of the workbench in lab iai uoa.
  </description>

</model>
